<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Example Images</title>
</head>
<body>

<h1>Example Images</h1>

<div>
    <div>
        <p>Original Image:</p>
        <img src="../static/example_images/original.png" alt="Photo 1">
    </div>
    <div>
        <p>Grayscale:</p>
        <img src="../static/example_images/grayscale.png" alt="Photo 2">
    </div>
    <div>
        <p>Spotlight (x,y origin at the top left, max x value = 1000, max y value = 600):</p>
        <img src="../static/example_images/spotlight.png" alt="Photo 3">
    </div>
    <div>
        <p>Watermark:</p>
        <img src="../static/example_images/tag.png" alt="Photo 3">
        <img src="../static/example_images/watermark.png" alt="Photo 4">

    </div>
    <div>
        <p>Scramble:</p>
        <img src="../static/example_images/scramble.png" alt="Photo 5">
    </div>
    <div>
        <p>Unscramble:</p>
        <img src="../static/example_images/unscramble.png" alt="Photo 6">
    </div>
    
    </div>
</div>

</body>
</html>
